@import "_colors"

body
  font-size: 12px

.header
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  background-color: $header-background-color
  color: $header-foreground-color
  button
    margin: 0px
    border: none
    background: transparent
    color: $header-foreground-color
    text-decoration: underline
  a
    background: transparent
    color: $header-foreground-color
    text-decoration: underline

.alert
  margin-top: 20px
  border: 1px solid black

.list-inline
  list-style-type: none
  padding-left: 0px
  margin: 0px
  margin-left: 5px
  li
    display: inline-block

.main
  display: block
  margin-top: 20px

  .tile
    display: block
    max-width: 350px
    max-height: 350px
    img
      width: 100%
  .post-detail
    display: flex
    flex-direction: column
    justify-content: flex-start
    img
      display: block
      max-width: 350px
      max-height: 350px
    .description
      margin-top: 10px
.footer
  position: fixed
  display: block
  bottom: 5px
  left: 0px
  width: auto
  .menu
    li
      margin: 0px 0px
      padding: 5px
      border: none
      text-align: center
      vertical-align: middle
      height: 100%
      width: 100%
      background-color: $footer-button-color
      border-radius: 50%
      width: 30px
      a
        font-size: 26px
        color: $footer-foreground-color
        text-decoration: none