@import "_colors"
@import "_toggle"
@import 'node_modules/font-awesome/scss/font-awesome'

$breakpoint: 768px
$header-fontsize: 20px

$header-font: 'Roboto', sans-serif
$description-font: 'Raleway', sans-serif
$description-font-size: 16px

*
  box-sizing: border-box

body
  font-size: 12px

.header
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 50px
  background-color: $header-background-color
  color: $header-foreground-color
  font-size: $header-fontsize
  font-family: $header-font
  display: flex
  flex-direction: row
  justify-content: center
  li
    margin-top: 10px
    margin-bottom: 10px
  a
    background: transparent
    color: $header-foreground-color
    text-decoration: underline
    font-size: $header-fontsize

.alert
  margin-top: 20px
  border: 1px solid black

.list-inline
  list-style-type: none
  padding-left: 0px
  margin: 0px
  margin-left: 5px
  li
    display: inline-block

.meta
  position: absolute
  bottom: 5px
  width: 300px
  font-family: $description-font
  display: flex
  flex-direction: row
  justify-content: flex-end
  .location
    flex-order: 1
  .author
    flex-order: 2
  .meta-item
    z-index: 5
    color: $tile-control-foreground-color
    padding: 5px
    font-size: 18px
    max-width: 200px
    display: inline-block
    height: 31px
    margin: 0px 10px

.meta-detail
  border-top: 1px dashed
  border-bottom: 1px dashed
  max-width: 300px
  margin-top: 5px
  .author
    font-size: 16px
    display: inline

.main
  display: block
  margin-top: 60px
  margin-bottom: 60px
  .tiles
    display: flex
    flex-direction: column
    justify-content: center
    .tile
      display: inline-block
      width: 300px
      height: auto
      position: relative
      margin-bottom: 10px
      img
        width: 100%
        height: auto
        opacity: 0.8
  .post-detail
    display: flex
    flex-direction: column
    align-items: center
    img
      display: block
      max-width: 300px
      height: auto
    .description
      margin-top: 10px
      font-size: $description-font-size
      font-family: $description-font
    .date
      margin-top: 5px
  .new-post-headline
    font-family: $description-font
  .new-post
    font-family: $description-font
    font-size: 16px
    .form-group
      margin: 15px
    textarea
      padding-left: 5px
      padding-right: 5px
      width: 100%
      height: 150px
      outline: none
      box-shadow: none
      border: 1px solid black
      font-family: $description-font
      resize: none
.footer
  position: fixed
  display: block
  bottom: 5px
  left: 0px
  width: auto
  .menu
    li
      margin: 0px 0px
      padding: 5px
      border: none
      text-align: center
      vertical-align: middle
      height: 100%
      width: 100%
      background-color: $footer-button-color
      border-radius: 50%
      width: 45px
      height: 45px
      button
        margin: 0px
        border: none
        background: transparent
        color: $footer-foreground-color
        text-decoration: none
        font-size: 18px
        padding: 5px
        cursor: pointer
      a
        font-size: 26px
        color: $footer-foreground-color
        text-decoration: none
        padding: 5px

@media(min-width: $breakpoint)
  .header
    font-size: $header-fontsize + 5px
  .main
    .tiles
      display: flex
      justify-content: center
      align-items: center