<div class="post-detail">
  <%= render "_post.html", post: @post, conn: @conn %>
  <div class="description">
    <%= @post.description %>
  </div>
</div>

<%= link "Back", to: post_path(@conn, :index) %>
