<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jan Schulte">

    <title>Dat Journaal</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="header">
      <nav role="navigation">
        <ul class="list-inline">
          <li><%= link "Dat Journaal", to: post_path(@conn, :index) %></li>
          <%= if @current_user do %>
            <li><%= @current_user.name %></li>
          <% else %>
            <li><%= link "Sign in", to: session_path(@conn, :new) %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%
      info = get_flash(@conn, :info)
      error = get_flash(@conn, :error)
    %>

    <%= if info do %>
      <p class="alert alert-info" role="alert"><%= info %></p>
    <% end %>
    <%= if error do %>
      <p class="alert alert-danger" role="alert"><%= error %></p>
    <% end %>

    <main role="main" class="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <%= if @current_user do %>
      <footer class="footer">
        <ul class="list-inline menu">
          <li>
            <%= link to: post_path(@conn, :new) do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link to: user_settings_path(@conn, :index) do %>
              <i class="fa fa-sliders" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link to: user_stats_path(@conn, :index) do %>
              <i class="fa fa-line-chart" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= button to: session_path(@conn, :delete, @current_user), method: :delete do %>
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            <% end %>
          </li>
        </ul>
      </footer>
    <% end %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
