<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jan Schulte">

    <title>Dat Journaal</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300|Roboto|Dancing+Script:700" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="header">
      <nav role="navigation">
        <%= link "Dat Journaal", to: index_path(@conn, :index), class: "logo" %>
        <%= link "About", to: static_pages_path(@conn, :about) %>
      </nav>
    </header>
    <%
      info = get_flash(@conn, :info)
      error = get_flash(@conn, :error)
    %>

    <%= if info do %>
      <p class="alert alert-info" role="alert"><%= info %></p>
    <% end %>
    <%= if error do %>
      <p class="alert alert-danger" role="alert"><%= error %></p>
    <% end %>

    <main role="main" class="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer class="footer">
      <ul class="list-inline menu">
        <%= if @current_user do %>
          <li>
            <%= link to: image_post_path(@conn, :new) do %>
              <i class="fa fa-picture-o" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link to: user_settings_path(@conn, :index) do %>
              <i class="fa fa-sliders" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link to: user_stats_path(@conn, :index) do %>
              <i class="fa fa-line-chart" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= button to: session_path(@conn, :delete, @current_user), method: :delete do %>
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link to: session_path(@conn, :new) do %>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </footer>
    <script src="<%= static_path(@conn, "/js/phoenix.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
