<div class="popular-posts">
  <h1>My popular posts</h1>
  <div class="posts">
    <%= for { post, visit_count } <- @my_posts do %>
      <div class="post">
        <%= link to: index_path(@conn, :show_image, post.slug) do %>
          <img src="<%= photo_url(post) %>" />
          <div class="visits">
            <%= visit_count %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
