@import "_colors"
@import "_toggle"
@import 'node_modules/font-awesome/scss/font-awesome'


$breakpoint: 768px
$header-fontsize: 14px

$header-font: 'Roboto', sans-serif
$description-font: 'Raleway', sans-serif
$description-font-size: 16px

*
  box-sizing: border-box
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif

body
  font-size: 12px

.header
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 50px
  background-color: $header-background-color
  color: $header-foreground-color
  font-size: $header-fontsize
  font-family: $header-font
  display: flex
  flex-direction: row
  justify-content: flex-start
  .logo
    position: absolute
    left: 100px
    top: 18px
    font-size: 15px
    padding-top: 5px
    transform: rotate(-5deg) scale(3.0) skew(-20deg)
    z-index: 1
    text-decoration: none
    font-family: 'Dancing Script', cursive
  a
    background: transparent
    color: $header-foreground-color
    text-decoration: underline
    font-size: $header-fontsize + 2px
    font-family: 'Raleway'
  nav
    margin-top: 35px + 35px
    padding-top: 5px
    padding-right: 15px
    display: flex
    width: 100%
    justify-content: flex-end
    flex-direction: row

main
  margin-top: 175px
  padding-top: 25px

.alert
  margin-top: 20px
  border: 1px solid black

.list-inline
  list-style-type: none
  padding-left: 0px
  margin: 0px
  margin-left: 5px
  li
    display: inline-block

.meta
  position: absolute
  bottom: 5px
  width: 300px
  font-family: $description-font
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  .location
    flex-order: 1
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    max-width: 200px
  .author
    flex-order: 2
    max-width: 100px
  .meta-item
    z-index: 1
    font-size: 16px
    color: $tile-control-foreground-color
    padding: 5px
    display: inline-block
    height: 31px
    margin: 0px 10px

.meta-detail
  max-width: 300px
  margin-top: 5px
  font-size: 12px
  font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif

  font-style: italic
  .author:before
    content: "by "
    font-style: italic
  .author
    display: inline

.main
  display: block
  margin-top: 75px
  margin-bottom: 60px
  .tiles
    display: flex
    flex-direction: column
    align-items: center
    .tile
      width: 300px
      height: auto
      position: relative
      margin-bottom: 10px
      img
        width: 100%
        height: auto
        opacity: 0.8
  .post-detail
    .tile
      display: flex
      flex-direction: column
      align-items: center
      .location
        font-size: 16px
        font-family: $description-font
      .image
        img
          display: block
          width: 300px
          height: auto
          border-radius: 2px


    .description
      margin-top: 10px
      font-size: $description-font-size
      font-family: $description-font
    .date
      margin-top: 5px
  .new-post-headline
    font-family: $description-font
    margin-left: 15px
  .new-post
    font-family: $description-font
    font-size: 16px
    .form-group
      margin: 15px
      textarea
        font-size: 16px
      &.hidden
        display: none
      .location-search-area
        display: none
        margin-top: 10px
      .image-preview
        border: 1px solid black
        width: 100%
        height: 200px
        display: flex
        justify-content: center
        align-items: center
        i
          font-size: 140px
          display: block
        img
          display: inline-block
          width: inherit
          height: inherit
          image-orientation: from-image
    .submit
      background-color: #318589
      color: white
      border-radius: 1px
      height: 35px
      width: 150px
      border: none
      &.disabled
        background-color: grey
        pointer-events: none
    textarea
      padding-left: 5px
      padding-right: 5px
      width: 100%
      height: 150px
      outline: none
      box-shadow: none
      border: 1px solid black
      font-family: $description-font
      resize: none
    .search-result
      margin: 5px
      font-size: 16px
      border: 0.5px solid gray
      border-radius: 2px
    .selected
      background-color: lightgrey
.footer
  position: fixed
  display: block
  bottom: 5px
  left: 0px
  width: auto
  z-index: 5
  .menu
    li
      margin: 0px 0px
      padding: 5px
      border: none
      text-align: center
      height: 100%
      width: 100%
      background-color: $footer-button-color
      border-radius: 50%
      width: 35px
      height: 35px
      button
        margin: 0px
        border: none
        background: transparent
        color: $footer-foreground-color
        text-decoration: none
        font-size: 18px
        padding: 5px
        cursor: pointer
        display: flex
        flex-direction: column
        justify-content: center
      a
        font-size: 16px
        color: $footer-foreground-color
        text-decoration: none
        padding: 5px
        display: flex
        flex-direction: column
        justify-content: center

.popular-posts
  display: flex
  flex-direction: column
  justify-content: center
  h1
    display: block
    text-align: center
  .posts
    display: flex
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
  .post
    position: relative
    img
      width: auto
      height: 100px
      margin: 2px
      opacity: 0.8
    .visits
      color: $footer-foreground-color
      background-color: $stat-visits-background-color
      text-align: center
      z-index: 1
      position: absolute
      font-size: 16px
      opacity: 0.8
      right: 5px
      bottom: 15px
      padding: 5px
      border-radius: 3px
      width: 40px

.sign-in
  display: flex
  flex-direction: column
  align-items: center
  font-size: 16px
  button[type=submit]
    background-color: #318589
    border: none
    color: white
    border-radius: 1px
    width: 100%
    font-size: 20px
  input
    margin-top: 5px
    margin-bottom: 5px
    font-size: 20px

.about
  display: flex
  flex-direction: column
  align-items: center

  .mail-to
    font-style: italic

  h2
    font-family: 'Raleway'
  p
    margin: 15px

  blockquote
    background: #F9F9F9
    border-left: 5px solid #ccc
    padding: 0.5em 10px
    quotes: "\201C""\201D""\2018""\2019"

  blockquote:before
    color: #ccc
    content: open-quote
    font-size: 4em
    line-height: 0.1em
    margin-right: 0.25em
    vertical-align: -0.4em

  blockquote p
    margin: 0px
    font-style: italic
    display: inline

@media(min-width: $breakpoint)
  .header
    font-size: $header-fontsize + 15px
    .logo
      font-size: 30px
      left: 170px
      top: 35px
    a
      font-size: $header-fontsize + 15px
    nav
      padding-right: 55px

  .meta
    bottom: 10px
    justify-content: flex-end
    width: 100%
    .author
      max-width: 300px
    .location
      max-width: 300px
    .meta-item
      font-size: 24px
  .main
    margin-top: 100px
    .tiles
      display: flex
      flex-direction: row
      justify-content: space-around
      align-items: unset
      flex-wrap: wrap
      .tile
        flex-basis: 45%
        margin: 5px
        a
          display: block
          position: relative
    .new-post
      margin-top: 175px
      .form-group
        .image-preview
          width: 250px
    .popular-posts
      .post
        img
          height: 200px
          width: auto
    .post-detail
      .tile
        .image
          img
            width: unset
            max-width: 900px
            border-radius: 5px
        .description
          max-width: 1200px
          font-size: $description-font-size * 2
