<div class="text-post">
  <h1><%= @post.title %></h1>
  <div class="author">
    by <%= @post.user.name %>
  </div>
  <div class="content">
    <pre>
      <%= @post.content %>
    </pre>
  </div>

  <%= link "Delete this post", to: text_post_path(@conn, :delete, @post.slug), method: :delete, data: [confirm: "Really?"] %>
  <%= link "Back", to: index_path(@conn, :index) %>
</div>
