
<div class="title">
  <%= link to: index_path(@conn, :show_text, @post.slug) do %>
    <%= @post.title %>
  <% end %>
</div>

<div class="content">
  <pre>
    <%= teaser_text(@post.content) %>
  </pre>
</div>
